:root {
  --logo-color: #111518;
  --title-color: #111518;
  --hover-color: #ff6b09;
  --before-color: #ff6b09;
  --text-color: #b9b9b9;
  --hover_text-color: #fff;
  --tonya_text-color: #3d3d3d;
}
.container {
  width: 1344px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: solid red;
}
/* header */
.header{
  outline: solid peru;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-flex {
  display: flex;
}
.header-logo {
  color: #111518;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.04px;
}
.header-img {
  width: 22px;
  height: 30px;
  flex-shrink: 0;
}
.header-logo-word {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.header-logo-english {
  color: #111518;
  font-family: Montserrat;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.header-link {
  color: #b9b9b9;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.header-link:hover {
  color: #ff6b09;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.header-button {
  width: 335.489px;
  height: 70px;
  flex-shrink: 0;
  color: #ff6b09;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  border: 2px solid #ff6b09;
}
.header-list {
  display: flex;
  padding-left: 143.59px;
  padding-right: 59.92px;
  gap: 39.94px;
}
/* hero */
.hero{
  outline: solid yellow;
  padding-bottom: 30px;
}
.hero-container {
  display: flex;
}
.hero-title {
  padding-bottom: 15px;
  color: #111518;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 75.4px */
  letter-spacing: 1.74px;
}
.hero-span {
  color: #b9b9b9;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 165%; /* 33px */
  letter-spacing: 1.6px;
}
.hero-text {
  padding-bottom: 45px;
  color: #111518;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%;
  letter-spacing: 1.6px;
  display: flex;
  width: 530px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.hero-button {
  width: 354px;
  height: 70px;
  flex-shrink: 0;
  background-color: #ff6b09;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
.hero-photo {
  width: 842px;
  height: 718px;
  flex-shrink: 0;
}
/* information */
.information{
  outline: solid red;
  padding-top: 118px;
  padding-bottom: 148px;
}
.information-list {
  display: flex;
  gap: 128px;
}
.information-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #111518;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 164.9%; /* 32.98px */
  letter-spacing: 1.6px;
}
/* problems */
.problems {
  background-color: #111518;
  outline: solid purple;
  padding-top: 100px;
  padding-bottom: 280px;
}
.problems-title {
  width: 805px;
  height: 180px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.problems-help {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 1.38px;
}
/* shedule */
.shedule{
  outline: solid black;
  padding-top: 67px;
  padding-bottom: 67px;
}
.shedule-list {
  display: flex;
  gap: 40px;
}
.shedule-padding-text {
  padding-bottom: 105px;
}
.shedule-number {
  padding-bottom: 10px;
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 164.9%; /* 32.98px */
  letter-spacing: 1.6px;
}
.shedule-text {
  color: #111518;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: 1.6px;
}
/* work */
.work{
  padding-top: 130px;
  padding-bottom: 130px;
}
.work-container {
  outline: solid orange;
}
.work-title {
  padding-bottom: 47px;
  color: #111518;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.work-list {
  gap: 30px;
  display: flex;
}
.work-padding-item {
  padding-bottom: 20px;
}
.work-subtitle {
  padding-bottom: 32px;
  color: #111518;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: 1.6px;
}
.work-text {
  color: #b9b9b9;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: 1.44px;
}
/* plan */
.plan {
  background-color: #111518;
  padding-top: 120px;
  padding-bottom: 326px;
}
.plan-list {
  display: flex;
  gap: 46px;
}
.plan-subtitle {
  padding-bottom: 25px;
}
.plan-name {
  padding-bottom: 10px;
}
.plan-text {
  margin-bottom: 25px;
}
.plan-title {
  padding-bottom: 106px;
  color: #fff;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.plan-subtitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.plan-number {
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 93.333% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.plan-name {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 33px */
  letter-spacing: 1.6px;
}
.plan-text {
  color: #b9b9b9;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: 1.44px;
  opacity: 0.5;
}
/* .plan-img {
  width: 672px;
  height: 502px;
  flex-shrink: 0;
} */
/* teacher */
.teacher{
  padding-top: 130px;
  padding-bottom: 129px;
}
.teacher-subcontainer {
  display: flex;
}
.teacher-title {
  padding-bottom: 50px;
  color: #111518;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.teacher-img {
  margin-right: 61px;
  width: 530px;
  height: 668px;
  flex-shrink: 0;
}
.teacher-recomendation {
  color: #b9b9b9;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.teacher-name {
  padding-bottom: 45px;
  color: #111518;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.4px;
}
.teacher-text {
  color: #111518;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}
.teacher-padding-item {
  padding-bottom: 30px;
}
.teacher-list {
  padding-bottom: 88px;
}
.teacher-padding-recomendation {
  padding-bottom: 28px;
}
.teacher-link {
  display: block;
  margin-top: 22px;
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  text-decoration-line: underline;
}
/* guarantee */
.guarantee{
padding-bottom: 130px;
}
.guarantee-title {
  padding-bottom: 50px;
  justify-content: center;
  display: flex;
  color: #111518;
  text-align: center;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.guarantee-padding-item {
  padding-bottom: 20px;
}
.guarantee-text {
  color: #3d3d3d;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.guarantee-span {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
/* feedback */
.feedback{
padding-bottom: 230px;
}
.feedback-title {
  padding-bottom: 100px;
  color: #111518;
  text-align: center;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.feedback-main-box {
  display: flex;
}
.feedback-subtitle {
  padding-bottom: 10px;
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.4px;
}
.feedback-info {
  padding-bottom: 18px;
  color: #b9b9b9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 1.12px;
}
.feedback-list {
  margin-top: 91px;
  display: flex;
  gap: 30px;
}
.feedback-img {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  margin-right: 40px;
}
.feedback-text {
  color: #3d3d3d;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.feedback-link {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  text-decoration-line: underline;
}
.feedback-icon {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 54px;
}
/* registration */
.registration {
  background: url(../img/background-registration.webp) lightgray 50% / cover
    no-repeat;
  background-color: #111518;
  padding-top: 100px;
  padding-bottom: 62px;
}
.registration-title {
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.registration-text {
  padding-bottom: 56px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
}
.registration-padding-name {
  margin-bottom: 30px;
}
.registration-button {
  margin-top: 80px;
}
.registration-word {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 1.38px;
}
.registration-free {
  color: #ff6b09;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
}
.registration-name {
  border: 1px solid #fff;
  width: 478px;
  height: 70px;
  flex-shrink: 0;
}
.registration-button {
  width: 354px;
  height: 70px;
  flex-shrink: 0;
  background: #ff6b09;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
/* footer */
.footer{
  padding-top: 57px;
  padding-bottom: 20px;
}
.footer-info {
  display: flex;
  gap: 350px;
}
.footer-history {
  margin-top: 73px;
  color: #b9b9b9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.footer-phone {
  color: #111518;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
}
