:root {
  --logo-color: #111518;
  --title-color: #111518;
  --hover-color: #ff6b09;
  --before-color: #ff6b09;
  --text-color: #b9b9b9;
  --hover_text-color: #fff;
  --tonya_text-color: #3d3d3d;
}
body {
  font-family: Montserrat;
}
a:hover, button:hover{
  transition: all 1s;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1344px;
}
/* header */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-flex {
  display: flex;
}
.header-logo {
  color: var(--title-color);
  font-size: 26px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.04px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}
.header-box {
  display: flex;
  gap: 4px;
}
.header-img {
  width: 22px;
  height: 30px;
  flex-shrink: 0;
}
.header-logo-word {
  color: var(--before-color);
  font-size: 8px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.header-logo-english {
  color: var(--logo-color);
  font-size: 8px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.header-link {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.header-link:hover {
  color: var(--before-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.header-button {
  width: 335.489px;
  height: 70px;
  flex-shrink: 0;
  color: var(--before-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  border: 2px solid var(--before-color);
  background-color: transparent;
}
.header-button:hover {
  background-color: var(--before-color);
  color: var(--hover_text-color);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-navigation {
  margin-left: auto;
  margin-right: 60px;
}
/* hero */
.hero {
  padding-bottom: 30px;
  background-color: var(--hover_text-color);
}
.hero-container {
  display: flex;
}
.hero-subcontainer {
  padding-top: 55px;
}
.hero-title {
  margin-bottom: 15px;
  color: var(--logo-color);
  font-size: 58px;
  font-weight: 800;
  line-height: 130%; /* 75.4px */
  letter-spacing: 1.74px;
}
.hero-span {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 165%; /* 33px */
  letter-spacing: 1.6px;
}
.hero-text {
  margin-bottom: 45px;
  color: var(--title-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 165%;
  letter-spacing: 1.6px;
  display: flex;
  width: 530px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.hero-button {
  width: 354px;
  height: 70px;
  flex-shrink: 0;
  background-color: var(--hover-color);
  color: var(--hover_text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  border: solid transparent;
}
.hero-button:hover {
  background-color: transparent;
  color: var(--hover-color);
  border-color: var(--hover-color);
}
.hero-photo {
  width: 842px;
  height: 718px;
  flex-shrink: 0;
}
/* information */
.information {
  padding-top: 118px;
  padding-bottom: 148px;
}
.information-list {
  display: flex;
  gap: 128px;
}
.information-text {
  align-items: center;
  display: flex;
  color: var(--logo-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 164.9%; /* 32.98px */
  letter-spacing: 1.6px;
}
.information-text::before {
  position: absolute;
  top: -18px;
  left: 0;
  content: "";
  display: block;
  background-image: url(../img/square.webp), url(../img/student.webp);
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.information-item:nth-child(2) .information-text::before {
  background-image: url(../img/square.webp), url(../img/mobile-learning.webp);
}
.information-item:nth-child(3) .information-text::before {
  background-image: url(../img/square.webp), url(../img/insurance.webp);
}
.information-item {
  position: relative;
  width: 417px;
  padding-left: 82px;
}
/* problems */
.problems {
  background-color: var(--logo-color);
  padding-top: 100px;
  padding-bottom: 280px;
  background-image: url(../img/fire.webp);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.problems-title {
  width: 805px;
  height: 180px;
  flex-shrink: 0;
  color: var(--hover_text-color);
  font-size: 46px;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.problems-help {
  color: var(--before-color);
  font-size: 46px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 1.38px;
}
/* shedule */
.shedule {
  margin-left: auto;
  margin-right: auto;
  padding-left: 113px;
  padding-right: 113px;
  padding-top: 67px;
  padding-bottom: 67px;
  box-shadow: -5px 8px 26px 0px rgba(0, 0, 0, 0.04);
  max-width: 1344px;
}
.shedule-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}
.shedule-item {
  min-height: 99px;
  max-width: 336px;
  width: 100%;
}
.shedule-number {
  color: var(--before-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 164.9%; /* 32.98px */
  letter-spacing: 1.6px;
  padding-left: 30px;
}
.shedule-margin-number {
  margin-bottom: 10px;
}
.shedule-number::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--before-color);
  display: block;
  position: absolute;
  top: 18px;
  right: 30px;
  position: relative;
}
.shedule-text {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
  letter-spacing: 1.6px;
}
/* work */
.work {
  padding-top: 130px;
  padding-bottom: 130px;
}
.work-title {
  padding-bottom: 47px;
  color: var(--title-color);
  font-size: 46px;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.work-list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.work-padding-item {
  margin-bottom: 20px;
}
.work-subtitle {
  color: var(--title-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: 1.6px;
  position: relative;
  margin-bottom: 30px;
}
.work-subtitle::before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
  background-image: url(../img/study-program.webp);
  background-repeat: no-repeat;
  position: absolute;
  left: 40%;
  top: -83px;
}
.work-item:nth-child(2) .work-subtitle::before {
  background-image: url(../img/mobile-learning2.webp);
}

.work-item:nth-child(3) .work-subtitle::before {
  background-image: url(../img/mobile-learning2.webp);
}

.work-item:nth-child(4) .work-subtitle::before {
  background-image: url(../img/union.webp);
}

.work-item:nth-child(5) .work-subtitle::before {
  background-image: url(../img/female-student2.webp);
}

.work-item:nth-child(6) .work-subtitle::before {
  background-image: url(../img/audio-book.webp);
}
.work-item:hover .work-subtitle::before {
  background-color: var(--hover_text-color);
}
.work-subtitle::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--before-color);
  display: block;
  position: absolute;
  position: relative;
  background-position: center;
  position: absolute;
  bottom: -15px;
  left: 45%;
}
.work-text {
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: 1.44px;
}
.work-item {
  width: 418px;
  height: 396px;
  flex-shrink: 0;
  background: var(--hover_text-color);
  box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
  padding-top: 118px;
  padding-bottom: 55px;
  padding-left: 28px;
  padding-right: 28px;
}
.work-item:hover {
  background: var(--before-color);
  box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
}
.work-item:hover .work-text,
.work-item:hover .work-subtitle {
  color: var(--hover_text-color);
}
/* plan */
.plan {
  background-color: var(--title-color);
  padding-top: 120px;
  padding-bottom: 326px;
}
.plan-container {
  position: relative;
}
.plan-list {
  display: flex;
  gap: 46px;
}
.plan-subtitle {
  margin-bottom: 25px;
}
.plan-name {
  margin-bottom: 10px;
}
.plan-text {
  margin-bottom: 25px;
}
.plan-title {
  margin-bottom: 106px;
  color: var(--hover_text-color);
  font-size: 46px;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.plan-subtitle {
  color: var(--hover_text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.plan-number {
  color: var(--hover_text-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 28px; /* 93.333% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.plan-name {
  color: var(--before-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 165%; /* 33px */
  letter-spacing: 1.6px;
}
.plan-text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: 1.44px;
  opacity: 0.5;
}
.plan-img {
  width: 672px;
  height: 502px;
  position: absolute;
  bottom: -326px;
  left: -157px;
}
.plan-item {
  max-width: 226px;
}
/* teacher */
.teacher {
  padding-top: 130px;
  padding-bottom: 129px;
}
.teacher-subcontainer {
  display: flex;
}
.teacher-title {
  padding-bottom: 50px;
  color: var(--title-color);
  font-size: 46px;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.teacher-img {
  margin-right: 61px;
  width: 530px;
  height: 668px;
  flex-shrink: 0;
}
.teacher-recomendation {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.teacher-name {
  margin-bottom: 45px;
  color: var(--title-color);
  font-size: 30px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.4px;
  position: relative;
}
.teacher-name::after {
  content: "";
  background-color: var(--text-color);
  width: 640px;
  height: 1px;
  display: block;
  bottom: -15px;
  position: absolute;
  left: 0;
}
.teacher-text {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  padding-left: 49px;
  position: relative;
}
.teacher-text::before {
  content: "";
  background-image: url(../img/check_mark.webp);
  display: block;
  width: 25px;
  height: 20px;
  position: absolute;
  left: 0px;
}
.teacher-line-text {
  position: relative;
}
.teacher-line-text::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--before-color);
  display: block;
  position: absolute;
  bottom: -43px;
  left: -3px;
}
.teacher-margin-item {
  margin-bottom: 30px;
}
.teacher-list {
  margin-bottom: 88px;
}
.teacher-margin-recomendation {
  margin-bottom: 28px;
}
.teacher-link {
  display: block;
  margin-top: 22px;
  color: var(--before-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  text-decoration-line: underline;
}
/* guarantee */
.guarantee {
  padding-bottom: 130px;
}
.guarantee-title {
  padding-bottom: 50px;
  justify-content: center;
  display: flex;
  color: var(--title-color);
  text-align: center;
  font-size: 46px;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.guarantee-box {
  background-color: #f1f1f1;
  width: 1314px;
  height: 395px;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 164px;
  padding-right: 112px;
}
.guarantee-padding-item {
  padding-bottom: 20px;
}
.guarantee-text {
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  position: relative;
}
.guarantee-text::before {
  content: "";
  width: 22px;
  height: 30px;
  background-image: url(../img/—Åampfire.webp);
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
}
.guarantee-line-text::after {
  content: "";
  width: 1px;
  height: 40px;
  background-image: url(../img/line.webp);
  display: block;
  position: absolute;
  left: -20px;
  bottom: -19px;
}
.guarantee-span {
  color: var(--before-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.guarantee-item:last-child .guarantee-line-text::after {
  display: none;
}
/* feedback */
.feedback {
  padding-bottom: 230px;
}
.feedback-title {
  margin-bottom: 100px;
  color: var(--title-color);
  text-align: center;
  font-size: 46px;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
}
.feedback-flex {
  display: flex;
  align-items: center;
  gap: 58px;
}
.feedback-main-box {
  display: flex;
  width: 1090px;
  height: 370px;
  background: var(--hover_text-color);
  box-shadow: -5px 8px 26px 0px rgba(0, 0, 0, 0.04);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 82px;
  padding-right: 112px;
  align-items: center;
}
.feedback-box {
  padding-left: 60px;
}
.feedback-button {
  background-color: transparent;
}
.feedback-subtitle {
  margin-bottom: 10px;
  color: var(--before-color);
  font-size: 30px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.4px;
}
.feedback-info {
  margin-bottom: 18px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 1.12px;
}
.feedback-list {
  margin-top: 91px;
  display: flex;
  gap: 30px;
  padding-left: 326px;
  padding-right: 324px;
}
.feedback-img {
  border-radius: 150px;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  margin-right: 40px;
}
.feedback-text {
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}
.feedback-link {
  color: var(--before-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  text-decoration-line: underline;
}
.feedback-icon {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 54px;
}
/* registration */
.registration {
  background: url(../img/background-registration.webp) lightgray 50% / cover
    no-repeat;
  background-color: var(--title-color);
  padding-top: 100px;
  padding-bottom: 62px;
}
.registration-title {
  margin-bottom: 50px;
  color: var(--hover_text-color);
  text-align: center;
  font-size: 46px;
  font-weight: 800;
  line-height: 130%; /* 59.8px */
  letter-spacing: 1.38px;
  margin-left: 254px;
  margin-right: 260px;
}
.registration-form {
  margin-left: 416px;
  margin-right: 416px;
}
.registration-name {
  background-color: transparent;
  color: var(--hover_text-color);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;
  padding-left: 40px;
}
.registration-text {
  margin-bottom: 56px;
  color: var(--hover_text-color);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
  margin-left: 153px;
  margin-right: 154px;
}
.registration-padding-name {
  margin-bottom: 30px;
}
.registration-button {
  margin-top: 80px;
  margin-right: 480px;
  margin-left: 480px;
  border: solid transparent;
}
.registration-button:hover {
  background-color: transparent;
  border-color: var(--before-color);
}
.registration-word {
  color: var(--before-color);
  font-size: 46px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 1.38px;
}
.registration-free {
  color: var(--before-color);
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
}
.registration-name {
  border: 1px solid var(--hover_text-color);
  width: 478px;
  height: 70px;
  flex-shrink: 0;
}
.registration-button {
  width: 354px;
  height: 70px;
  flex-shrink: 0;
  background: var(--before-color);
  color: var(--hover_text-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}
/* footer */
.footer {
  padding-top: 57px;
  padding-bottom: 20px;
  height: 150px;
}
.footer-logo {
  margin-right: 290px;
}
.footer-info {
  display: flex;
  padding-bottom: 53px;
}
.footer-history {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}
.footer-phone {
  color: var(--title-color);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.4px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-insta {
  position: relative;
  margin-left: 56px;
  display: block;
}
.footer-insta img {
  width: 40px;
  height: 40px;
}
.footer-insta::before {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background-color: var(--text-color);
  position: absolute;
  left: -26px;
}
.history {
  background-color: var(--title-color);
  height: 67px;
  display: flex;
  align-items: center;
}
.footer-container {
  display: flex;
  align-items: center;
}
